@import model.task.Task
@(tasks: Seq[Task])
    @import helper._

    @main("Todo list") {

        <div class="container">
            <div class="row">
                <div>
                    <div class="panel panel-default panel-table">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col col-xs-6">
                                    <h3 class="panel-title">@tasks.size idea</h3>
                                </div>
                                <div class="col col-xs-6 text-right">
                                @form(routes.Tasks.addTask) {
                                    <button type="submit" class="btn btn-sm btn-primary btn-create">Create New</button>
                                }
                                </div>
                            </div>
                        </div>
                        <div class="panel-body">
                            <table class="table table-striped table-bordered table-list">
                                <thead>
                                    <tr>
                                        <th class="hidden-xs">ID</th>
                                        <th>Idea</th>
                                        <th>Who</th>
                                        <th>When</th>
                                        <th>Status</th>
                                        <th><em class="fa fa-cog"></em></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @tasks.map { task =>
                                        @if(!task.ready) {
                                            <tr>
                                        } else {
                                            <tr style="color: red ; font-weight: bold ; font-size: 16px ;">
                                            }
                                    <td>@task.id</td>
                                    <td>@task.label</td>
                                    <td>@task.owner</td>
                                    <td>@task.myTime</td>
                                    <td>@if(!task.ready) { unfinished } else { finished }</td>

                                    <td>
                                        @form(routes.Tasks.editTask(task.id)) {
                                            <input type="submit" value="Edit" class="btn btn-default pull-left">
                                        }
                                        @form(routes.Tasks.deleteTask(task.id)) {
                                            <input type="submit" value="Delete" class="btn btn-danger pull-left" onclick="return confirm('Are you sure?');">
                                        }
                                        @if(!task.ready) {
                                            @form(routes.Tasks.completeTask(task.id)) {
                                                <input type="submit" value="Completed" class="btn btn-success pull-left" onclick="return confirm('Are you sure?');">
                                                }
                                        }
                                    </td>
                                    </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                        <div class="panel-footer">
                            <div class="row">
                                <div class="col col-xs-4">Page 1 of 5
                                </div>
                                <div class="col col-xs-8">
                                    <ul class="pagination hidden-xs pull-right">
                                        <li><a href="#">1</a></li>
                                        <li><a href="#">2</a></li>
                                        <li><a href="#">3</a></li>
                                        <li><a href="#">4</a></li>
                                        <li><a href="#">5</a></li>
                                    </ul>
                                    <ul class="pagination visible-xs pull-right">
                                        <li><a href="#">«</a></li>
                                        <li><a href="#">»</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }