@import model.user.UserView
@(title: String, filter: Option[String])(content: Html)(implicit userView: UserView)
<!DOCTYPE html>

<html lang="en">
    <head>
        <title>@title</title>
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
        <link rel="stylesheet" href="@routes.Assets.versioned("lib/bootstrap/css/bootstrap.min.css")">
        <script src="@routes.Assets.versioned("lib/jquery/jquery.min.js")"></script>
        <script src="@routes.Assets.versioned("lib/bootstrap/js/bootstrap.min.js")"></script>

        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.versioned("stylesheets/table.css")">
    </head>
    <body>
        <nav class="navbar navbar-default">
            <div class="container-fluid">

                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Brand</a>
                </div>


                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                    <div class="col-sm-6 col-sm-offset-2">
                        @helper.form(controllers.routes.Tasks.getTaskPage()) {
                            <div id="imaginary_container" class="navbar-form">
                                <div class="input-group stylish-input-group col-xs-10">
                                    <input value="@filter.map(f => f)" type="text" class="form-control" placeholder="Search" name="filter">
                                        <span class="input-group-addon">
                                        <button type="submit">
                                            <span class="glyphicon glyphicon-search"></span>
                                        </button>
                                    </span>
                                </div>
                            </div>
                        }
                    </div>

                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle profile-image" data-toggle="dropdown" role="button"
                                aria-haspopup="true" aria-expanded="false">
                                @if(userView.avatar.isEmpty) {
                                    <img src="http://placehold.it/30x30" class="img-circle">
                                } else {
                                    <img src="@userView.avatar" class="img-circle" style="max-width:30px; max-height: 30px;">
                                }
                                @userView.username
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="@controllers.auth.routes.AuthController.logout">Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        @content
    </body>
</html>
