@import model.user.Account
@(form: Form[Option[Account]])(implicit messages: Messages, flash: Flash)
<!DOCTYPE html>

<html>
    <head>
        <title>Login</title>
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.versioned("stylesheets/bootstrap.min.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
    </head>
    <body>


       @helper.form(controllers.routes.Sessions.registration) {
            @flash.get("success").map { message =>
                <p class="success">
                    @message
                </p>
            }

            <div id="loginModal" class="modal show" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog modal-body-my">
                    <div class="modal-content">
                        <h1 class="text-center">Registration</h1>
                        <div class="modal-body">
                            <form class="form col-md-12 center-block" method="post">
                                <div class="form-group">
                                    <input name="login" type="text" value="@form("login").value"
                                            class="form-control input-lg" placeholder="E-mail">
                                </div>
                                <div>
                                    @for(error <- form("login").errors) {
                                        <p class="text-danger">@Messages(error.message)</p>
                                    }
                                </div>
                                <div class="form-group">
                                    <input id="password" name="password" type="password"
                                        class="form-control input-lg" placeholder="Password">
                                </div>
                                <div>
                                    @for(error <- form("password").errors) {
                                        <p class="text-danger">@Messages(error.message)</p>
                                    }
                                    @form.globalError.map { error =>
                                        <p class="error">
                                            @Messages(error.message)
                                        </p>
                                    }
                                </div>
                                <div class="form-group">
                                    <button type="submit" onclick="window.location=''"
                                    class="btn btn-primary btn-lg btn-block btn-red">Register</button>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                        </div>
                    </div>
                </div>
            </div>
        }

    </body>
</html>