@import helper._
@import model.user.UserView
@(id: Option[Long], taskForm: Form[TaskForm])(implicit userView: UserView, messages: Messages, flash: Flash)

@main(if (id.isEmpty) "Add new task" else "Edit task", None) {
    <h2>Add a new idea</h2>

    @if(id.isEmpty) {
        @form(routes.Tasks.newTask) {

            @inputText(taskForm("label"),
                '_label -> "Task name",
                '_help -> "",
                'class -> "form-control",
                'placeholder -> "Task name")

            @inputText(taskForm("owner"),
                '_label -> "Author",
                '_help -> "",
                'class -> "form-control",
                '_showConstraints -> false)

            <input type="submit" value="Create" class="btn primary">
            or
            <a href="@routes.Tasks.getTaskPage()" class="btn">Cancel</a>
        }
    } else {
        @form(routes.Tasks.updateTask(id.get)) {

            @inputText(taskForm("label"),
                '_label -> "Task name",
                '_help -> "",
                'placeholder -> "Task name")
            @inputText(taskForm("owner"),
                '_label -> "Author",
                '_help -> "",
                '_showConstraints -> false)

            <input type="submit" value="Update" class="btn primary">
            or
            <a href="@routes.Tasks.getTaskPage()" class="btn">Cancel</a>
        }
    }
}



